**/bin/
**/obj/
**/node_modules/
**/dist/
**/.angular/
**/.git/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/*.log
**/appsettings.Development.json
**/appsettings.Local.json
**/appsettings.*.local.json
frontend/
MuseuDeBugs.Tests/
MuseuDeBugs.Tools/
